<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
    {% block head %}{% endblock %}
  </head>
  <body>
	  <nav class="navbar">
		<ul>
         <div class="menu">
			
          <li><a id="home" href="/">Home</a></li>
          <li><a id="create" href="/create">Create</a></li>
          <li><a id="profile" href="/profile">Profile</a></li>
          <li><a id="logout" href="/logout">Logout</a></li>
          
             
         </div>
       </ul>
	</nav>
	
	
 {% block body %}{% endblock %}
  </body>
</html>
